<header>
    <nav class="navbar navbar-expand-md navbar-light bg-info fixed-top">
        <div class="container-fluid">
            <a href="https://github.com/zaratechs/420-345-G001-A20/wiki/Travail-final" class="navbar-brand"></a>
            <i class="fas fa-child text-warning fa-2x">Pascal</i>

            <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav"><span
                    class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse justify-content-end" id="nav"></div>
            <ul class="navbar-nav align-self-end" id="nav">
                <li class="nav-item dropdown d-none">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenu" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="home" class="nav-link font-weight-bold text-capitalize text-warning px-3">Home</a>
                </li>
                <li class="nav-item dropdown" data-toggle="dropdown">
                    <a class="nav-link font-weight-bold text-capitalize text-warning dropdown-toggle px-3"
                        data-toggle="dropdown" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">Tutoriel</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <a [routerLink]="['/tutorielCrud']" class="dropdown-item">Mini tutoriel Crud</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['formulaire/']"
                        class="nav-link font-weight-bold text-capitalize text-warning px-3">Formulaire</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['crud/']"
                        class="nav-link font-weight-bold text-capitalize text-warning px-3">Crud</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['fun/']"
                        class="nav-link font-weight-bold text-capitalize text-warning px-3">Youtube Playlist</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['contact/']"
                        class="nav-link font-weight-bold text-capitalize text-warning px-3">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>