<div class="container text-center text-warning bg-info">
    <h1 class="mt-4">Contact Us</h1>
    <h3 class="my-4">Contact information of website developper</h3>
    <hr>
    <div>

        <h4 class="my-4">Si vous voulez des renseignements,
            <br>veuillez me contacter par un méthodes de contact ci-dessous.
        </h4>
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12 text-right">
                <h5 class="my-4 mr-4">
                    Nom du developpeur:
                </h5>
                <br>
                <h5 class="my-4 mr-4">
                    Email de contact du developpeur:
                </h5>
                <br>
                <h5 class="my-4 mr-4">
                    Profession:
                </h5>
                <br>
            </div>
            <div class="col-lg-6 col-sm-12 text-justify-center">
                <h5 class="my-4">
                    Pascal Bourgoin
                </h5>
                <br>
                <h5 class="my-4">
                    pascal680@hotmail.ca
                </h5>
                <br>
                <h5 class="my-4">
                    Étudiant en Technique de l'informatique <br> au Cégep André-Laurendeau
                </h5>
                <br>
            </div>
        </div>
    </div>
</div>