<div class="container">
    <h2>Modifier info video Youtube</h2>
    <form  [formGroup]="updateVideoInfoForm" (ngSubmit)= "updateVideoInfo()" >
  
      <div class="form-group">
        <label for="titreVideo">Titre de la video</label>
        <input id="titreVideo" formControlName="titreVideo" class="form-control" [(ngModel)]="videoInfo.titreVideo" />
 
        <div *ngIf="!form2.titreVideo.valid && (form2.titreVideo.dirty || form2.titreVideo.touched)">
          <div [hidden]="!form2.titreVideo.errors.required">Le nom est obligatoire</div>
        </div>
      </div>
      
 
  
      <div class="form-group">
        <label for="videoUrl">Video embed lien (Lien embed pour le partage video)</label>
        <input id="videoUrl" formControlName="videoUrl" class="form-control" [(ngModel)]="videoInfo.videoUrl" />
        
        <div *ngIf="!form2.videoUrl.valid && (form2.videoUrl.dirty || form2.videoUrl.touched)">
            <div [hidden]="!form2.videoUrl.errors.required">Le lien au video est obligatoire</div>
          </div>
    </div>

  
      <div class="form-check form-group">
        <input class="form-check-input" type="checkbox"
                id="ageRestricted" formControlName="ageRestricted" [(ngModel)]="videoInfo.ageRestricted">
        <label class="form-check-label" for="ageRestricted">
          Age restricted
        </label>
      </div>
  
  
      <p>Video Type</p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="typeVideo" [(ngModel)]="videoInfo.typeVideo" 
                 id="music" value="music" checked >
          <label class="form-check-label" for="music">
            Music
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="typeVideo" [(ngModel)]="videoInfo.typeVideo"
                 id="video" value="video">
          <label class="form-check-label" for="video">
            Video
          </label>
        </div>
        <div *ngIf="!form2.typeVideo.valid && (form2.typeVideo.dirty || form2.typeVideo.touched)">
            <div [hidden]="!form2.typeVideo.errors.required">Le type du video est obligatoire</div>
          </div>
      </div>
  
      <button class="btn btn-primary" >Send</button>
    </form>
  </div>
  
  <hr>