<div class="container-fluid">
    <h1 class="text-info">Exemple Crud</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th *ngFor="let entete of headElements" scope="col">{{entete}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listUsers, let i of index">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.password}}</td>
                <td>{{item.interfaceStyle}}</td>
                <td>
                    <a href="" class="btn btn-info">Afficher</a>
                    <a [routerLink]="[ '/updateForm/', item.id ]" class="btn btn-primary">Update</a>
                    <button type="button" (click)="delete(item.id)" class="btn btn-danger">Delete</button>
                    <button type="button" (click)="delete2(item.id, i)" class="btn btn-danger">Delete2</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>