<div class="container-fluid ">
    <div class="display-1 h-50 text-center">Home</div>
    <div class="row">
        <div class="col-lg-4 col-sm-12 card">
            <img class="card-img-top" src="../../../../images/bootstrap_logo.png" alt="Bootstrap logo">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 card">
            <img class="card-img-top" src="../../../../images/angular_logo.png" alt="Angular logo">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 card">
            <img class="card-img-top" src="../../../../images/typescript_logo.png" alt="TypeScript logo">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>